extends ../layout/index

block contenido 
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center Bienes
            span.font-normal Raices
        h2.text-center.text-2xl.font-extrabold= pagina

        if errores
            div(class="max-w-md mx-auto my-10")
                each error in errores
                    p.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold= error.msg


        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form.space-y-5(method="POST" action="/auth/login")
                    input(type="hidden" name="_csrf" value= csrfToken)
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="email") Email de Registro
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Tu Email" type="email" name="email")
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="password") Password
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Tu Password" type="password" name="password")

                    div.flex.items-center.justify-between
                        a.text-gray-500.text-xs(href="/auth/registro") ¿No tienes cuenta? Crea una
                        a.text-gray-500.text-xs(href='/auth/olvide-password') Olvide mi Password

                    input(class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer" type="submit" value="Iniciar Sesión")